<div>
    <h2>
        <span > /^_^/ Juegos</span>
        <button class="btn btn-primary float-right jh-create-entity create-game" [routerLink]="['/', { outlets: { popup: ['game-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  Translate="popApp.game.home.createLabel">
            Crear Juego
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="games">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th style="min-width:80px;"></span></th>
            <th jhiSortBy="titleId" style="min-width:120px;"><span>Game</span></th>
            <th jhiSortBy="status"><span >Status</span></th>
            <th jhiSortBy="createdAt"><span jhiTranslate="popApp.game.createdAt">Created_At</span></th>
            <th jhiSortBy="lastModifiedAt"><span jhiTranslate="popApp.game.lastModifiedAt">Modified_At</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let game of games ;trackBy: trackId">
                <td><img style="max-width:80px !important;max-height:50px !important;"src="{{game.logoUrl}}"></img>
                  <span *ngIf="!game.logoUrl">
                    <!--img style="max-width:80px !important;max-height:50px !important;" src="{{icons[rand()]}}"></img-->
                    <img style="max-width:80px !important;max-height:50px !important;" src="{{icons[0]}}"></img>
                  </span>
                </td>
                <td><a [routerLink]="['/', { outlets: { popup: 'game/'+ game.id + '/edit'} }]">{{game.titleId}}</a> <sup> {{game.version}}</sup>
                  <div><i>{{game.titleName}}</i></div></td>
                <td jhiTranslate="{{'popApp.GameStatus.' + game.status}}">{{game.status}}</td>
                <td>{{game.createdAt | date:'medium'}}</td>
                <td>{{game.lastModifiedAt | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'game/'+ game.id + '/edit'} }]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-location-arrow"></span>
                            <span *ngIf="!game.lastModifiedAt" class="d-none d-md-inline">Launch</span>
                            <span *ngIf="game.lastModifiedAt" class="d-none d-md-inline">Release</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'game/'+ game.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-gamepad"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'game/'+ game.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-window-close"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
