<div>
    <h2>
        <span jhiTranslate="popApp.achievementDefinition.home.title">Achievement Definitions</span>
        <button class="btn btn-primary float-right jh-create-entity create-achievement-definition" [routerLink]="['/', { outlets: { popup: ['achievement-definition-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="popApp.achievementDefinition.home.createLabel">
            Create new Achievement Definition
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="achievementDefinitions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="gameTitleId"><span jhiTranslate="popApp.achievementDefinition.game">Game</span> <span class="fa fa-sort"></span></th>
            <th></th>
            <th jhiSortBy="avCode"><span >Logro</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="avType"><span jhiTranslate="popApp.achievementDefinition.avType">Av Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="avCode">Metas</th>
            <th jhiSortBy="avCode">Premios</th>
            <th style="text-align: center;">Mensaje</th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let achievementDefinition of achievementDefinitions ;trackBy: trackId">
                <td>
                    <div *ngIf="achievementDefinition.gameId">
                        <a [routerLink]="['../game', achievementDefinition.gameId  ]" >{{achievementDefinition.gameTitleId}}</a>
                    </div>
                </td>
                <td><img style="max-width:80px !important;max-height:50px !important;" src="{{achievementDefinition.avIconUrl}}"></img></td>
                <td><span style="color: #007bff; font-weight: bold;">{{achievementDefinition.avCode}}</span><p>{{achievementDefinition.avTitle}}</p></td>

                <td><span jhiTranslate="{{'popApp.AchievementType.' + achievementDefinition.avType}}" style="color: grey; font-weight: bold;">{{achievementDefinition.avType}}</span>
                <p style="color: grey" *ngIf="achievementDefinition.repeteable || achievementDefinition.hidden">
                <span style="color: grey" *ngIf="achievementDefinition.repeteable">repetible</span>
                <span style="color: grey" *ngIf="achievementDefinition.hidden && achievementDefinition.repeteable">|</span>
                <span style="color: grey" *ngIf="achievementDefinition.hidden">oculto</span>
                </p>
                </td>
                 <td>
                    <div *ngIf="achievementDefinition.avType=='LEVEL_BASE'">
                    <span class="form-control-label" >nivel:
                        <a [routerLink]="['../xp-level-definition', achievementDefinition.goalLevelId  ]" >{{achievementDefinition.goalLevelLvCode}}</a>
                    </span>
                    </div>
                    <div *ngIf="achievementDefinition.avType=='EVENT_BASE'">
                    <span *ngIf="achievementDefinition.goalEventId" class="form-control-label" >evento:
                    <a [routerLink]="['../event-definition', achievementDefinition.goalEventId  ]" >{{achievementDefinition.goalEventEvCode}}</a>
                    </span>
                     <br>
                     <span *ngIf="achievementDefinition.evField" class="form-control-label">+ {{achievementDefinition.evField}}:</span>
                     <span *ngIf="!achievementDefinition.evField && achievementDefinition.goalValue" class="form-control-label">- valor:</span>
                     <span *ngIf="achievementDefinition.goalValue">{{achievementDefinition.goalValue}}</span>
                     <span *ngIf="!achievementDefinition.evField && (achievementDefinition.goalMinValue || achievementDefinition.goalMaxValue)" class="form-control-label">- rango</span>
                     <span *ngIf="achievementDefinition.goalMinValue || achievementDefinition.goalMaxValue">
                      (min: {{achievementDefinition.goalMinValue}}, max: {{achievementDefinition.goalMaxValue}})
                     </span>
                    </div>
                    <div *ngIf="achievementDefinition.avType=='STATS_BASE'">
                    <span *ngIf="achievementDefinition.goalStatisticId" class="form-control-label" >stats:
                    <a [routerLink]="['../statistic-definition', achievementDefinition.goalStatisticId  ]" >{{achievementDefinition.goalStatisticStCode}}</a>
                    </span>
                     <br>
                     <span *ngIf="achievementDefinition.goalValue" class="form-control-label">- valor:</span>
                     <span *ngIf="achievementDefinition.goalValue">{{achievementDefinition.goalValue}}</span>
                     <span *ngIf="achievementDefinition.goalMinValue || achievementDefinition.goalMaxValue">
                      - rango: (min: {{achievementDefinition.goalMinValue}}, max: {{achievementDefinition.goalMaxValue}})
                     </span>
                    </div>

                    <div *ngIf="achievementDefinition.avType=='TOURNAMENT_BASE'">
                    <span *ngIf="achievementDefinition.goalTournamentId" class="form-control-label" >torneo:
                        <a [routerLink]="['../tournament', achievementDefinition.goalTournamentId  ]" >{{achievementDefinition.goalTournamentTnCode}}</a>
                    </span>
                     <br>
                     <span *ngIf="achievementDefinition.goalValue" class="form-control-label">- posicion:</span>
                     <span *ngIf="achievementDefinition.goalValue">{{achievementDefinition.goalValue}}</span>
                     <span *ngIf="(achievementDefinition.goalMinValue || achievementDefinition.goalMaxValue)" class="form-control-label">- posiciones
                      (dde: {{achievementDefinition.goalMinValue}}, hta: {{achievementDefinition.goalMaxValue}})
                     </span>
                    </div>
                </td>
                <td>
                    <div *ngIf="achievementDefinition.rewardXp">
                      <span class="form-control-label" >+ {{achievementDefinition.rewardXp}} XP</span>
                    </div>
                    <div *ngIf="achievementDefinition.rewardCatalogItemId">
                      + <a [routerLink]="['../catalog-item', achievementDefinition.rewardCatalogItemId  ]" >{{achievementDefinition.rewardCatalogItemItemCode}}</a> item
                    </div>
                    <div *ngIf="achievementDefinition.feeCurrencyId">
                      + {{achievementDefinition.rewardCurrencyValue}}<a [routerLink]="['../virtual-currency', achievementDefinition.feeCurrencyId  ]" > {{achievementDefinition.feeCurrencyCurrencyCode}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                      {{achievementDefinition.rewardMessage}}
                    </div>
                </td>

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../achievement-definition', achievementDefinition.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'achievement-definition/'+ achievementDefinition.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'achievement-definition/'+ achievementDefinition.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
