<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAchievementDefinitionLabel" jhiTranslate="popApp.achievementDefinition.home.createOrEditLabel">Create or edit a Achievement Definition</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.game" for="field_game">Game</label>
            <select class="form-control" id="field_game" name="game" [(ngModel)]="achievementDefinition.gameId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="gameOption.id" *ngFor="let gameOption of games; trackBy: trackGameById">{{gameOption.titleId}}</option>
            </select>
        </div>

        <div class="form-group" [hidden]="!achievementDefinition.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="achievementDefinition.id" readonly />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.avIconUrl" for="field_avIconUrl">Av Icon Url</label>
            <input type="text" class="form-control" name="avIconUrl" id="field_avIconUrl"
                [(ngModel)]="achievementDefinition.avIconUrl"  />
            <img style="max-width:80px !important;max-height:50px !important;" src="{{achievementDefinition.avIconUrl}}"></img>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.avCode" for="field_avCode">Av Code</label>
            <input type="text" class="form-control" name="avCode" id="field_avCode"
                [(ngModel)]="achievementDefinition.avCode"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.avTitle" for="field_avTitle">Av Title</label>
            <input type="text" class="form-control" name="avTitle" id="field_avTitle"
                [(ngModel)]="achievementDefinition.avTitle"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.avType" for="field_avType">Av Type</label>
            <select class="form-control" name="avType" [(ngModel)]="achievementDefinition.avType" id="field_avType" >
                <option value="LEVEL_BASE">{{'popApp.AchievementType.LEVEL_BASE' | translate}}</option>
                <option value="EVENT_BASE">{{'popApp.AchievementType.EVENT_BASE' | translate}}</option>
                <option value="STATS_BASE">{{'popApp.AchievementType.STATS_BASE' | translate}}</option>
                <option value="TOURNAMENT_BASE">{{'popApp.AchievementType.TOURNAMENT_BASE' | translate}}</option>
            </select>
        </div>


        <div *ngIf="achievementDefinition.avType=='STATS_BASE'" class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.goalStatistic" for="field_goalStatistic">Goal Statistic</label>
            <select class="form-control" id="field_goalStatistic" name="goalStatistic" [(ngModel)]="achievementDefinition.goalStatisticId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="statisticDefinitionOption.id" *ngFor="let statisticDefinitionOption of statisticdefinitions; trackBy: trackStatisticDefinitionById">{{statisticDefinitionOption.stCode}}</option>
            </select>
            <label class="form-control-label" for="field_goalValue">Valor Alcanzado</label>
            <input type="number" class="form-control" name="goalValue" id="field_goalValue"
                [(ngModel)]="achievementDefinition.goalValue"  />
            <label class="form-control-label" for="field_goalMinValue">Valor Minimo</label>
            <input type="number" class="form-control" name="goalMinValue" id="field_goalMinValue"
                [(ngModel)]="achievementDefinition.goalMinValue"  />
            <label class="form-control-label" for="field_goalMaxValue">Valor Maximo</label>
            <input type="number" class="form-control" name="goalMaxValue" id="field_goalMaxValue"
                [(ngModel)]="achievementDefinition.goalMaxValue"  />
        </div>

        <div *ngIf="achievementDefinition.avType=='EVENT_BASE'" class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.goalEvent" for="field_goalEvent">Goal Event</label>
            <select class="form-control" id="field_goalEvent" name="goalEvent" [(ngModel)]="achievementDefinition.goalEventId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="eventDefinitionOption.id" *ngFor="let eventDefinitionOption of eventdefinitions; trackBy: trackEventDefinitionById">{{eventDefinitionOption.evCode}}</option>
            </select>
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.evField" for="field_evField">Variable</label>
            <input type="text" class="form-control" name="evField" id="field_evField"
                [(ngModel)]="achievementDefinition.evField"  />
            <label class="form-control-label" for="field_goalValue">Valor Alcanzado</label>
            <input type="number" class="form-control" name="goalValue" id="field_goalValue"
                [(ngModel)]="achievementDefinition.goalValue"  />
            <label class="form-control-label" for="field_goalMinValue">Valor Minimo</label>
            <input type="number" class="form-control" name="goalMinValue" id="field_goalMinValue"
                [(ngModel)]="achievementDefinition.goalMinValue"  />
            <label class="form-control-label" for="field_goalMaxValue">Valor Maximo</label>
            <input type="number" class="form-control" name="goalMaxValue" id="field_goalMaxValue"
                [(ngModel)]="achievementDefinition.goalMaxValue"  />
        </div>

        <div *ngIf="achievementDefinition.avType=='LEVEL_BASE'" class="form-group">
            <label class="form-control-label" for="field_goalLevel">Nivel Alcanzado</label>
            <select class="form-control" id="field_goalLevel" name="goalLevel" [(ngModel)]="achievementDefinition.goalLevelId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="xpLevelDefinitionOption.id" *ngFor="let xpLevelDefinitionOption of xpleveldefinitions; trackBy: trackXpLevelDefinitionById">{{xpLevelDefinitionOption.lvCode}}</option>
            </select>
        </div>

        <div *ngIf="achievementDefinition.avType=='TOURNAMENT_BASE'">
          <div class="form-group">
              <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.goalTournament" for="field_goalTournament">Goal Tournament</label>
              <select class="form-control" id="field_goalTournament" name="goalTournament" [(ngModel)]="achievementDefinition.goalTournamentId" >
                  <option [ngValue]="null"></option>
                  <option [ngValue]="tournamentOption.id" *ngFor="let tournamentOption of tournaments; trackBy: trackTournamentById">{{tournamentOption.tnCode}}</option>
              </select>
              <label class="form-control-label" for="field_goalValue">Posicion Alcanzada</label>
              <input type="number" class="form-control" name="goalValue" id="field_goalValue"
                  [(ngModel)]="achievementDefinition.goalValue"  />
              <label class="form-control-label" for="field_goalMinValue">Posicion Desde</label>
              <input type="number" class="form-control" name="goalMinValue" id="field_goalMinValue"
                  [(ngModel)]="achievementDefinition.goalMinValue"  />
              <label class="form-control-label" for="field_goalMaxValue">Posicion Hasta</label>
              <input type="number" class="form-control" name="goalMaxValue" id="field_goalMaxValue"
                  [(ngModel)]="achievementDefinition.goalMaxValue"  />
          </div>
        </div>

        <div *ngIf="achievementDefinition.avType!='LEVEL_BASE'">

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.repeteable" for="field_repeteable">Repeteable</label>
            <input type="checkbox" class="form-control" name="repeteable" id="field_repeteable"
                [(ngModel)]="achievementDefinition.repeteable"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.hidden" for="field_hidden">Hidden</label>
            <input type="checkbox" class="form-control" name="hidden" id="field_hidden"
                [(ngModel)]="achievementDefinition.hidden"  />
        </div>
        </div>


        <div class="form-group">
            <label class="form-control-label" for="field_rewardXp">Puntos de Experiencia (XP) de Premio</label>
            <input type="number" class="form-control" name="rewardXp" id="field_rewardXp"
                [(ngModel)]="achievementDefinition.rewardXp"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_feeCurrency">Monedas de Premio</label>
            <select class="form-control" id="field_feeCurrency" name="feeCurrency" [(ngModel)]="achievementDefinition.feeCurrencyId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="VirtualCurrencyOption.id" *ngFor="let VirtualCurrencyOption of virtualcurrencies; trackBy: trackVirtualCurrencyById">{{VirtualCurrencyOption.currencyCode}}</option>
            </select>
            <input type="text" class="form-control" name="rewardCurrencyValue" id="field_rewardCurrencyValue"
                [(ngModel)]="achievementDefinition.rewardCurrencyValue"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_rewardCatalogItem">Item de Premio</label>
            <select class="form-control" id="field_rewardCatalogItem" name="rewardCatalogItem" [(ngModel)]="achievementDefinition.rewardCatalogItemId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="catalogItemOption.id" *ngFor="let catalogItemOption of catalogitems; trackBy: trackCatalogItemById">{{catalogItemOption.itemCode}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_rewardMessage">Mensaje de Notificacion</label>
            <input type="text" class="form-control" name="rewardMessage" id="field_rewardMessage"
                [(ngModel)]="achievementDefinition.rewardMessage"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
