<div>
    <h2>
      <span > |-_-| Propiedades Adicionales </span>
        <button class="btn btn-primary float-right jh-create-entity create-data-definition" [routerLink]="['/', { outlets: { popup: ['data-definition-new'] } }]">
            <span class="fa fa-plus"></span>
            <span>
            Crear Propiedad
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="dataDefinitions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="gameTitleId" [ngClass]="'gamecolumn'"><span >Game </span><span class="fa fa-sort"></span></th>
            <th jhiSortBy="dataKlass" [ngClass]="'iconcolumn'"><span ></span></th>
            <th jhiSortBy="dataKey" [ngClass]="'codecolumn'"><span >Propiedad </span><span class="fa fa-sort"></span></th>
            <th [ngClass]="'smallcolumn'"><span >Irreversible</span></th>
            <th [ngClass]="'smallcolumn'"><span >Scope</span></th>
            <th [ngClass]="'datacolumn'"><span >Default</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let dataDefinition of dataDefinitions ;trackBy: trackId">
                <td>
                    <div *ngIf="dataDefinition.gameId">
                        <a [routerLink]="['../game', dataDefinition.gameId  ]" >{{dataDefinition.gameTitleId}}</a>
                    </div>
                    <div *ngIf="dataDefinition.gameLogoUrl">
                        <img style="max-width:60px !important;max-height:30px !important;" src="{{dataDefinition.gameLogoUrl}}"></img>
                    </div>
                </td>
                <td>
                    <span *ngIf="!dataDefinition.dataIconUrl && dataDefinition.dataKlass=='PERFIL'" class="fa fa-user fa-3x" style="color: lightgray;"></span>
                    <span *ngIf="!dataDefinition.dataIconUrl && dataDefinition.dataKlass=='PROGRESION'" class="fa fa-angle-double-up fa-3x" style="color: lightgray;"></span>
                    <span *ngIf="!dataDefinition.dataIconUrl && dataDefinition.dataKlass=='SKILL'" class="fa fa-linode fa-3x" style="color: lightgray;"></span>
                    <span *ngIf="!dataDefinition.dataIconUrl && dataDefinition.dataKlass=='GAMMING_RULES'" class="fa fa-connectdevelop fa-3x" style="color: lightgray;"></span>
                    <span *ngIf="!dataDefinition.dataIconUrl && dataDefinition.dataKlass=='METADATA'" class="fa fa-database fa-3x" style="color: lightgray;"></span>
                    <img *ngIf="dataDefinition.dataIconUrl" src="{{dataDefinition.dataIconUrl}}"></img>
                    <sup><span *ngIf="dataDefinition.dataKlass"  jhiTranslate="{{'popApp.DataKlass.' + dataDefinition.dataKlass}}" >{{dataDefinition.dataKlass }}</span></sup>

                </td>
                <td>
                  <a [routerLink]="['/', { outlets: { popup: 'data-definition/'+ dataDefinition.id + '/edit'} }]"
                      data-toggle="tooltip" data-placement="bottom"
                     title="{{dataDefinition.description}}">{{dataDefinition.dataKey}}</a>
                  <div>{{dataDefinition.dataName}}</div>
                </td>
                <td jhiTranslate="{{dataDefinition.fixed}}">{{dataDefinition.fixed}}</td>
                <td>
                  <div jhiTranslate="{{'popApp.DataScope.' + dataDefinition.scope}}">{{dataDefinition.scope}}</div>
                  <div jhiTranslate="{{'popApp.DataPermission.' + dataDefinition.permissions}}">{{dataDefinition.permissions}}</div>
                </td>
                <td>{{dataDefinition.defaultValue}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'data-definition/'+ dataDefinition.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-check-square"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'data-definition/'+ dataDefinition.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-window-close"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
