<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 *ngIf="dataDefinition.id" class="modal-title"># {{dataDefinition.id}} </h4>
        <h4 class="modal-title" id="myDataDefinitionLabel" jhiTranslate="popApp.dataDefinition.home.createOrEditLabel">Create or edit a Data Definition</h4>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.dataDefinition.game" for="field_game">Game</label>
            <select class="form-control" id="field_game" name="game" [(ngModel)]="dataDefinition.gameId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="gameOption.id" *ngFor="let gameOption of games; trackBy: trackGameById">{{gameOption.titleId}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.dataDefinition.dataKlass" for="field_dataKlass">Data Klass</label>
            <select class="form-control" name="dataKlass" [(ngModel)]="dataDefinition.dataKlass" id="field_dataKlass" >
                <option value="GAMMING_RULES">{{'popApp.DataKlass.GAMMING_RULES' | translate}}</option>
                <option value="PROGRESION">{{'popApp.DataKlass.PROGRESION' | translate}}</option>
                <option value="METADATA">{{'popApp.DataKlass.METADATA' | translate}}</option>
                <option value="SKILL">{{'popApp.DataKlass.SKILL' | translate}}</option>
                <option value="PERFIL">{{'popApp.DataKlass.PERFIL' | translate}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.dataDefinition.dataIconUrl" for="field_dataIconUrl">Data Icon Url</label>
            <input type="text" class="form-control" name="dataIconUrl" id="field_dataIconUrl"
                [(ngModel)]="dataDefinition.dataIconUrl"  />
                    <span *ngIf="!dataDefinition.dataIconUrl && dataDefinition.dataKlass=='PERFIL'" class="fa fa-user fa-3x" style="color: lightgray;"></span>
                    <span *ngIf="!dataDefinition.dataIconUrl && dataDefinition.dataKlass=='PROGRESION'" class="fa fa-angle-double-up fa-3x" style="color: lightgray;"></span>
                    <span *ngIf="!dataDefinition.dataIconUrl && dataDefinition.dataKlass=='SKILL'" class="fa fa-linode fa-3x" style="color: lightgray;"></span>
                    <span *ngIf="!dataDefinition.dataIconUrl && dataDefinition.dataKlass=='GAMMING_RULES'" class="fa fa-connectdevelop fa-3x" style="color: lightgray;"></span>
                    <span *ngIf="!dataDefinition.dataIconUrl && dataDefinition.dataKlass=='METADATA'" class="fa fa-database fa-3x" style="color: lightgray;"></span>
                    <img style="max-width:80px !important;max-height:50px !important;" src="{{dataDefinition.dataIconUrl}}"></img>
                    <sup><span *ngIf="dataDefinition.dataKlass"  jhiTranslate="{{'popApp.DataKlass.' + dataDefinition.dataKlass}}" >{{dataDefinition.dataKlass }}</span></sup>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.dataDefinition.dataKey" for="field_dataKey">Data Key</label>
            <input type="text" class="form-control" name="dataKey" id="field_dataKey"
                [(ngModel)]="dataDefinition.dataKey" required maxlength="80" />
            <div [hidden]="!(editForm.controls.dataKey?.dirty && editForm.controls.dataKey?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dataKey?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dataKey?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 80 }">
                   This field cannot be longer than 80 characters.
                </small>
            </div>
        </div>
                <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.dataDefinition.dataName" for="field_dataName">Data Name</label>
            <input type="text" class="form-control" name="dataName" id="field_dataName"
                [(ngModel)]="dataDefinition.dataName" maxlength="80" />
            <div [hidden]="!(editForm.controls.dataName?.dirty && editForm.controls.dataName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dataName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 80 }">
                   This field cannot be longer than 80 characters.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.dataDefinition.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="dataDefinition.description"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.dataDefinition.scope" for="field_scope">Scope</label>
            <select class="form-control" name="scope" [(ngModel)]="dataDefinition.scope" id="field_scope"  required>
                <option value="PUBLIC">{{'popApp.DataScope.PUBLIC' | translate}}</option>
                <option value="PRIVATE">{{'popApp.DataScope.PRIVATE' | translate}}</option>
                <option value="INTERNAL">{{'popApp.DataScope.INTERNAL' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.scope?.dirty && editForm.controls.scope?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.scope?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.dataDefinition.permissions" for="field_permissions">Permissions</label>
            <select class="form-control" name="permissions" [(ngModel)]="dataDefinition.permissions" id="field_permissions"  required>
                <option value="WRITE">{{'popApp.DataPermission.WRITE' | translate}}</option>
                <option value="ONLY_READ">{{'popApp.DataPermission.ONLY_READ' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.permissions?.dirty && editForm.controls.permissions?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.permissions?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.dataDefinition.defaultValue" for="field_defaultValue">Default Value</label>
            <input type="text" class="form-control" name="defaultValue" id="field_defaultValue"
                [(ngModel)]="dataDefinition.defaultValue"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.dataDefinition.fixed" for="field_fixed">Fixed</label>
            <input type="checkbox" class="form-control" name="fixed" id="field_fixed"
                [(ngModel)]="dataDefinition.fixed"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.dataDefinition.dataSpace" for="field_dataSpace">Data Space</label>
            <input type="text" class="form-control" name="dataSpace" id="field_dataSpace"
                [(ngModel)]="dataDefinition.dataSpace" maxlength="80" />
            <div [hidden]="!(editForm.controls.dataSpace?.dirty && editForm.controls.dataSpace?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dataSpace?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 80 }">
                   This field cannot be longer than 80 characters.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
