
<div *ngIf="dataDefinition">
    <h2><span jhiTranslate="popApp.dataDefinition.detail.title">Data Definition</span> {{dataDefinition.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="popApp.dataDefinition.dataIconUrl">Data Icon Url</span></dt>
        <dd>
            <span>{{dataDefinition.dataIconUrl}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.dataDefinition.dataKey">Data Key</span></dt>
        <dd>
            <span>{{dataDefinition.dataKey}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.dataDefinition.dataName">Data Name</span></dt>
        <dd>
            <span>{{dataDefinition.dataName}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.dataDefinition.description">Description</span></dt>
        <dd>
            <span>{{dataDefinition.description}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.dataDefinition.defaultValue">Default Value</span></dt>
        <dd>
            <span>{{dataDefinition.defaultValue}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.dataDefinition.dataKlass">Data Klass</span></dt>
        <dd>
            <span jhiTranslate="{{'popApp.DataKlass.' + dataDefinition.dataKlass}}">{{dataDefinition.dataKlass}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.dataDefinition.scope">Scope</span></dt>
        <dd>
            <span jhiTranslate="{{'popApp.DataScope.' + dataDefinition.scope}}">{{dataDefinition.scope}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.dataDefinition.permissions">Permissions</span></dt>
        <dd>
            <span jhiTranslate="{{'popApp.DataPermission.' + dataDefinition.permissions}}">{{dataDefinition.permissions}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.dataDefinition.fixed">Fixed</span></dt>
        <dd>
            <span>{{dataDefinition.fixed}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.dataDefinition.dataSpace">Data Space</span></dt>
        <dd>
            <span>{{dataDefinition.dataSpace}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.dataDefinition.game">Game</span></dt>
        <dd>
            <div *ngIf="dataDefinition.gameId">
                <a [routerLink]="['/game', dataDefinition.gameId]">{{dataDefinition.gameTitleId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'data-definition/'+ dataDefinition.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
