<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPlayerLabel" jhiTranslate="popApp.player.home.createOrEditLabel">Create or edit a Player</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!player.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="player.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.player.popId" for="field_popId">Pop Id</label>
            <input type="text" class="form-control" name="popId" id="field_popId"
                [(ngModel)]="player.popId" required minlength="8" maxlength="20" pattern="^[a-zA-Z0-9]*$" />
            <div [hidden]="!(editForm.controls.popId?.dirty && editForm.controls.popId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.popId?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.popId?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 8 }">
                   This field is required to be at least 8 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.popId?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.popId?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'Pop Id' }">
                    This field should follow pattern for "Pop Id".
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.player.deviceId" for="field_deviceId">Device Id</label>
            <input type="text" class="form-control" name="deviceId" id="field_deviceId"
                [(ngModel)]="player.deviceId" required minlength="4" maxlength="80" pattern="^[_'.@A-Za-z0-9-]*$" />
            <div [hidden]="!(editForm.controls.deviceId?.dirty && editForm.controls.deviceId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.deviceId?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.deviceId?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 4 }">
                   This field is required to be at least 4 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.deviceId?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 80 }">
                   This field cannot be longer than 80 characters.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.deviceId?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'Device Id' }">
                    This field should follow pattern for "Device Id".
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.player.username" for="field_username">Username</label>
            <input type="text" class="form-control" name="username" id="field_username"
                [(ngModel)]="player.username"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.player.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="player.email"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.player.avatarUrl" for="field_avatarUrl">Avatar Url</label>
            <input type="text" class="form-control" name="avatarUrl" id="field_avatarUrl"
                [(ngModel)]="player.avatarUrl"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.player.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="player.status" id="field_status"  required>
                <option value="ACTIVE">{{'popApp.PlayerStatus.ACTIVE' | translate}}</option>
                <option value="BANNED">{{'popApp.PlayerStatus.BANNED' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.player.online" for="field_online">Online</label>
            <input type="checkbox" class="form-control" name="online" id="field_online"
                [(ngModel)]="player.online"  />
            <div [hidden]="!(editForm.controls.online?.dirty && editForm.controls.online?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.online?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.player.createdAt" for="field_createdAt">Created At</label>
            <div class="d-flex">
                <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" [(ngModel)]="player.createdAt"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.createdAt?.dirty && editForm.controls.createdAt?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdAt?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.createdAt?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.player.lastModifiedAt" for="field_lastModifiedAt">Last Modified At</label>
            <div class="d-flex">
                <input id="field_lastModifiedAt" type="datetime-local" class="form-control" name="lastModifiedAt" [(ngModel)]="player.lastModifiedAt"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.lastModifiedAt?.dirty && editForm.controls.lastModifiedAt?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastModifiedAt?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.lastModifiedAt?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.player.bannedUntilAt" for="field_bannedUntilAt">Banned Until At</label>
            <div class="d-flex">
                <input id="field_bannedUntilAt" type="datetime-local" class="form-control" name="bannedUntilAt" [(ngModel)]="player.bannedUntilAt"
                  />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.player.game" for="field_game">Game</label>
            <select class="form-control" id="field_game" name="game" [(ngModel)]="player.gameId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="gameOption.id" *ngFor="let gameOption of games; trackBy: trackGameById">{{gameOption.titleId}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
