
<div *ngIf="player">
    <h2><span jhiTranslate="popApp.player.detail.title">Player</span> {{player.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="popApp.player.popId">Pop Id</span></dt>
        <dd>
            <span>{{player.popId}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.player.deviceId">Device Id</span></dt>
        <dd>
            <span>{{player.deviceId}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.player.username">Username</span></dt>
        <dd>
            <span>{{player.username}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.player.email">Email</span></dt>
        <dd>
            <span>{{player.email}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.player.avatarUrl">Avatar Url</span></dt>
        <dd>
            <span>{{player.avatarUrl}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.player.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'popApp.PlayerStatus.' + player.status}}">{{player.status}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.player.online">Online</span></dt>
        <dd>
            <span>{{player.online}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.player.createdAt">Created At</span></dt>
        <dd>
            <span>{{player.createdAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.player.lastModifiedAt">Last Modified At</span></dt>
        <dd>
            <span>{{player.lastModifiedAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.player.bannedUntilAt">Banned Until At</span></dt>
        <dd>
            <span>{{player.bannedUntilAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.player.game">Game</span></dt>
        <dd>
            <div *ngIf="player.gameId">
                <a [routerLink]="['/game', player.gameId]">{{player.gameTitleId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'player/'+ player.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
