
<div *ngIf="virtualCurrency">
    <h2><span jhiTranslate="popApp.virtualCurrency.detail.title">Virtual Currency</span> {{virtualCurrency.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="popApp.virtualCurrency.currencyIconUrl">Currency Icon Url</span></dt>
        <dd>
            <span>{{virtualCurrency.currencyIconUrl}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.virtualCurrency.currencyCode">Currency Code</span></dt>
        <dd>
            <span>{{virtualCurrency.currencyCode}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.virtualCurrency.currencyName">Currency Name</span></dt>
        <dd>
            <span>{{virtualCurrency.currencyName}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.virtualCurrency.initialDeposit">Initial Deposit</span></dt>
        <dd>
            <span>{{virtualCurrency.initialDeposit}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.virtualCurrency.rechargeRate">Recharge Rate</span></dt>
        <dd>
            <span>{{virtualCurrency.rechargeRate}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.virtualCurrency.maxLimit">Max Limit</span></dt>
        <dd>
            <span>{{virtualCurrency.maxLimit}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.virtualCurrency.currencyRatio">Currency Ratio</span></dt>
        <dd>
            <span>{{virtualCurrency.currencyRatio}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.virtualCurrency.currencyBase">Currency Base</span></dt>
        <dd>
            <span>{{virtualCurrency.currencyBase}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.virtualCurrency.game">Game</span></dt>
        <dd>
            <div *ngIf="virtualCurrency.gameId">
                <a [routerLink]="['/game', virtualCurrency.gameId]">{{virtualCurrency.gameTitleId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'virtual-currency/'+ virtualCurrency.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
