<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myStatisticDefinitionLabel" jhiTranslate="popApp.statisticDefinition.home.createOrEditLabel">Create or edit a Statistic Definition</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!statisticDefinition.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="statisticDefinition.id" readonly />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.statisticDefinition.game" for="field_game">Game</label>
            <select class="form-control" id="field_game" name="game" [(ngModel)]="statisticDefinition.gameId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="gameOption.id" *ngFor="let gameOption of games; trackBy: trackGameById">{{gameOption.titleId}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.statisticDefinition.stCode" for="field_stCode">St Code</label>
            <input type="text" class="form-control" name="stCode" id="field_stCode"
                [(ngModel)]="statisticDefinition.stCode" required maxlength="80" pattern="^[_'.@A-Za-z0-9-]*$" />
            <div [hidden]="!(editForm.controls.stCode?.dirty && editForm.controls.stCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.stCode?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.stCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 80 }">
                   This field cannot be longer than 80 characters.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.stCode?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'St Code' }">
                    This field should follow pattern for "St Code".
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.statisticDefinition.stName" for="field_stName">St Name</label>
            <input type="text" class="form-control" name="stName" id="field_stName"
                [(ngModel)]="statisticDefinition.stName" required maxlength="80" pattern="^[_'.@A-Za-z0-9-]*$" />
            <div [hidden]="!(editForm.controls.stName?.dirty && editForm.controls.stName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.stName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.stName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 80 }">
                   This field cannot be longer than 80 characters.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.stName?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'St Name' }">
                    This field should follow pattern for "St Name".
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.statisticDefinition.stDescription" for="field_stDescription">St Description</label>
            <input type="text" class="form-control" name="stDescription" id="field_stDescription"
                [(ngModel)]="statisticDefinition.stDescription"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.statisticDefinition.stMinValue" for="field_stMinValue">St Min Value</label>
            <input type="number" class="form-control" name="stMinValue" id="field_stMinValue"
                [(ngModel)]="statisticDefinition.stMinValue"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.statisticDefinition.stMaxValue" for="field_stMaxValue">St Max Value</label>
            <input type="number" class="form-control" name="stMaxValue" id="field_stMaxValue"
                [(ngModel)]="statisticDefinition.stMaxValue"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.statisticDefinition.stInitialValue" for="field_stInitialValue">St Initial Value</label>
            <input type="number" class="form-control" name="stInitialValue" id="field_stInitialValue"
                [(ngModel)]="statisticDefinition.stInitialValue"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.statisticDefinition.stVariable" for="field_stVariable">St Variable</label>
            <input type="text" class="form-control" name="stVariable" id="field_stVariable"
                [(ngModel)]="statisticDefinition.stVariable"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.statisticDefinition.stCategory" for="field_stCategory">St Category</label>
            <select class="form-control" name="stCategory" [(ngModel)]="statisticDefinition.stCategory" id="field_stCategory" >
                <option value="GAMEPLAY">{{'popApp.StatisticCategory.GAMEPLAY' | translate}}</option>
                <option value="PROGRESION">{{'popApp.StatisticCategory.PROGRESION' | translate}}</option>
                <option value="ECONOMY">{{'popApp.StatisticCategory.ECONOMY' | translate}}</option>
                <option value="PERFORMANCE">{{'popApp.StatisticCategory.PERFORMANCE' | translate}}</option>
                <option value="LEVELING">{{'popApp.StatisticCategory.LEVELING' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.statisticDefinition.aggregationMethod" for="field_aggregationMethod">Aggregation Method</label>
            <select class="form-control" name="aggregationMethod" [(ngModel)]="statisticDefinition.aggregationMethod" id="field_aggregationMethod"  required>
                <option value="LAST">{{'popApp.AggregationMethod.LAST' | translate}}</option>
                <option value="MIN">{{'popApp.AggregationMethod.MIN' | translate}}</option>
                <option value="MAX">{{'popApp.AggregationMethod.MAX' | translate}}</option>
                <option value="SUM">{{'popApp.AggregationMethod.SUM' | translate}}</option>
                <option value="COUNT">{{'popApp.AggregationMethod.COUNT' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.aggregationMethod?.dirty && editForm.controls.aggregationMethod?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.aggregationMethod?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.statisticDefinition.resetFrequency" for="field_resetFrequency">Reset Frequency</label>
            <select class="form-control" name="resetFrequency" [(ngModel)]="statisticDefinition.resetFrequency" id="field_resetFrequency"  required>
                <option value="MANUALLY">{{'popApp.ResetFrequency.MANUALLY' | translate}}</option>
                <option value="HOURLY">{{'popApp.ResetFrequency.HOURLY' | translate}}</option>
                <option value="DAILY">{{'popApp.ResetFrequency.DAILY' | translate}}</option>
                <option value="WEEKLY">{{'popApp.ResetFrequency.WEEKLY' | translate}}</option>
                <option value="MONTHLY">{{'popApp.ResetFrequency.MONTHLY' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.resetFrequency?.dirty && editForm.controls.resetFrequency?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.resetFrequency?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
