<div>
    <h2>
        <span jhiTranslate="popApp.xpLevelDefinition.home.title">Xp Level Definitions</span>
        <button class="btn btn-primary float-right jh-create-entity create-xp-level-definition" [routerLink]="['/', { outlets: { popup: ['xp-level-definition-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="popApp.xpLevelDefinition.home.createLabel">
            Create new Xp Level Definition
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="xpLevelDefinitions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="gameTitleId"><span jhiTranslate="popApp.xpLevelDefinition.game">Game</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lvNumber"><span jhiTranslate="popApp.xpLevelDefinition.lvNumber">Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lvNumber"></th>
            <th jhiSortBy="lvCode"><span jhiTranslate="popApp.xpLevelDefinition.lvCode">Code</span></th>
            <th jhiSortBy="lvDescription"><span jhiTranslate="popApp.xpLevelDefinition.lvDescription">Description</span></th>
            <th jhiSortBy="xpBase"><span jhiTranslate="popApp.xpLevelDefinition.xpBase">Xp</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let xpLevelDefinition of xpLevelDefinitions ;trackBy: trackId">
                <td>
                    <div *ngIf="xpLevelDefinition.gameId">
                        <a [routerLink]="['../game', xpLevelDefinition.gameId  ]" >{{xpLevelDefinition.gameTitleId}}</a>
                    </div>
                </td>
                <td><img style="max-width:80px !important;max-height:50px !important;" src="{{xpLevelDefinition.lvIconUrl}}"></img></td>
                <td>{{xpLevelDefinition.lvNumber}}</td>
                <td>{{xpLevelDefinition.lvCode}}</td>
                <td>{{xpLevelDefinition.lvDescription}}</td>
                <td>{{xpLevelDefinition.xpBase}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../xp-level-definition', xpLevelDefinition.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'xp-level-definition/'+ xpLevelDefinition.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'xp-level-definition/'+ xpLevelDefinition.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
