<div>
    <h2>
        <span jhiTranslate="popApp.globalData.home.title">Global Data</span>
        <button class="btn btn-primary float-right jh-create-entity create-global-data" [routerLink]="['/', { outlets: { popup: ['global-data-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="popApp.globalData.home.createLabel">
            Create new Global Data
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="globalData">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="gameTitleId" [ngClass]="'gamecolumn'"><span jhiTranslate="popApp.globalData.game">Game</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dataKey" [ngClass]="'codecolumn'"><span jhiTranslate="popApp.globalData.dataKey">Data Key</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="scope" [ngClass]="'smallcolumn'"><span jhiTranslate="popApp.globalData.scope">Scope</span></th>
            <th jhiSortBy="defaultValue" [ngClass]="'datacolumn'"><span jhiTranslate="popApp.globalData.defaultValue">Default Value</span></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let globalData of globalData ;trackBy: trackId">
                <td>
                    <div *ngIf="globalData.gameId">
                        <a [routerLink]="['../game', globalData.gameId  ]" >{{globalData.gameTitleId}}</a>
                    </div>
                    <div *ngIf="globalData.gameLogoUrl">
                        <img style="max-width:60px !important;max-height:30px !important;" src="{{globalData.gameLogoUrl}}"></img>
                    </div>
                </td>
                <td>
                 <a [routerLink]="['/', { outlets: { popup: 'global-data/'+ globalData.id + '/edit'} }]" data-toggle="tooltip" data-placement="bottom"
                     title="{{globalData.dataValue}}">{{globalData.dataKey}}</a>
                    <sup><span *ngIf="globalData.dataVersion" > v. {{globalData.dataVersion }}</span></sup>
                    <div *ngIf="globalData.dataSpace"><sup>| {{globalData.dataSpace}}</sup></div>
                </td>
                <td>
                  <div jhiTranslate="{{'popApp.DataScope.' + globalData.scope}}">{{globalData.scope}}</div>
                  <div jhiTranslate="{{'popApp.DataPermission.' + globalData.permissions}}">{{globalData.permissions}}</div>
                </td>
                <td>{{globalData.dataValue}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'global-data/'+ globalData.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'global-data/'+ globalData.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
