
<div *ngIf="globalData">
    <h2><span jhiTranslate="popApp.globalData.detail.title">Global Data</span> {{globalData.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="popApp.globalData.dataKey">Data Key</span></dt>
        <dd>
            <span>{{globalData.dataKey}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.globalData.dataValue">Data Value</span></dt>
        <dd>
            <span>{{globalData.dataValue}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.globalData.scope">Scope</span></dt>
        <dd>
            <span jhiTranslate="{{'popApp.DataScope.' + globalData.scope}}">{{globalData.scope}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.globalData.permissions">Permissions</span></dt>
        <dd>
            <span jhiTranslate="{{'popApp.DataPermission.' + globalData.permissions}}">{{globalData.permissions}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.globalData.dataVersion">Data Version</span></dt>
        <dd>
            <span>{{globalData.dataVersion}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.globalData.createdAt">Created At</span></dt>
        <dd>
            <span>{{globalData.createdAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.globalData.lastModifiedAt">Last Modified At</span></dt>
        <dd>
            <span>{{globalData.lastModifiedAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.globalData.dataSpace">Data Space</span></dt>
        <dd>
            <span>{{globalData.dataSpace}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.globalData.game">Game</span></dt>
        <dd>
            <div *ngIf="globalData.gameId">
                <a [routerLink]="['/game', globalData.gameId]">{{globalData.gameTitleId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'global-data/'+ globalData.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
