<div>
    <h2>
        <span jhiTranslate="popApp.tournament.home.title">Tournaments</span>
        <button class="btn btn-primary float-right jh-create-entity create-tournament" [routerLink]="['/', { outlets: { popup: ['tournament-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="popApp.tournament.home.createLabel">
            Create new Tournament
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tournaments">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="gameTitleId"><span jhiTranslate="popApp.tournament.game">Game</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="gameTitleId"></th>
            <th jhiSortBy="tnCode"><span jhiTranslate="popApp.tournament.tnCode">Tourneo</span> <span class="fa fa-sort"></span></th>
            <th><span jhiTranslate="popApp.tournament.tnTitle">Titulo</span></th>
            <th jhiSortBy="tnType"></th>
            <th jhiSortBy="reseteable"><span jhiTranslate="popApp.tournament.reseteable">Repetible</span></th>
            <th jhiSortBy="stCode"><span jhiTranslate="popApp.tournament.stCode">Estadistica</span></th>
            <th jhiSortBy="lvCode"><span jhiTranslate="popApp.tournament.lvCode">Nivel</span></th>
            <th jhiSortBy="startedAt"><span jhiTranslate="popApp.tournament.startedAt">Inicio</span> <span class="fa fa-sort"></span></th>
            <th><span jhiTranslate="popApp.tournament.iteration">Iteration</span></th>
            <th jhiSortBy="status"><span jhiTranslate="popApp.tournament.status">Status</span><span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let tournament of tournaments ;trackBy: trackId">
                <td>
                    <div *ngIf="tournament.gameId">
                        <a [routerLink]="['../game', tournament.gameId  ]" >{{tournament.gameTitleId}}</a>
                    </div>
                </td>
                <td><img style="max-width:80px !important;max-height:50px !important;" src="{{tournament.tnIconUrl}}"></img></td>
                <td><b>{{tournament.tnCode}}</b></td>
                <td>{{tournament.tnTitle}}</td>
                <td jhiTranslate="{{'popApp.TournamentType.' + tournament.tnType}}">{{tournament.tnType}}</td>
                <td jhiTranslate="{{'commons.boolean.' + tournament.reseteable}}">{{tournament.reseteable}}</td>
                <td>
                    <div *ngIf="tournament.goalStatisticId">
                        <a [routerLink]="['../statistic-definition', tournament.goalStatisticId  ]" >{{tournament.goalStatisticStCode}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tournament.reqXpLevelId">
                        <a [routerLink]="['../xp-level-definition', tournament.reqXpLevelId  ]" >{{tournament.reqXpLevelLvCode}}</a>
                    </div>
                </td>
                <td>{{tournament.startedAt | date:'medium'}}</td>
                <td>{{tournament.iteration}}</td>
                <td jhiTranslate="{{'popApp.TournamentStatus.' + tournament.status}}">{{tournament.status}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tournament', tournament.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tournament/'+ tournament.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tournament/'+ tournament.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
