
<div *ngIf="tournament">
    <h2><span jhiTranslate="popApp.tournament.detail.title">Tournament</span> {{tournament.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="popApp.tournament.tnIconUrl">Tn Icon Url</span></dt>
        <!--dt><img style="max-width:80px !important;max-height:50px !important;" src="{{popApp.tournament.tnIconUrl}}"></img></dt-->
        <dd>
            <span>{{tournament.tnIconUrl}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.tournament.tnCode">Tn Code</span></dt>
        <dd>
            <span>{{tournament.tnCode}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.tournament.tnTitle">Tn Title</span></dt>
        <dd>
            <span>{{tournament.tnTitle}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.tournament.tnType">Tn Type</span></dt>
        <dd>
            <span jhiTranslate="{{'popApp.TournamentType.' + tournament.tnType}}">{{tournament.tnType}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.tournament.joinType">Join Type</span></dt>
        <dd>
            <span jhiTranslate="{{'popApp.TournamentJoinType.' + tournament.joinType}}">{{tournament.joinType}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.tournament.reseteable">Reseteable</span></dt>
        <dd>
            <span>{{tournament.reseteable}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.tournament.resetFrecuency">Reset Frecuency</span></dt>
        <dd>
            <span jhiTranslate="{{'popApp.ResetFrecuency.' + tournament.resetFrecuency}}">{{tournament.resetFrecuency}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.tournament.refreshFrecuency">Refresh Frecuency</span></dt>
        <dd>
            <span jhiTranslate="{{'popApp.Frecuency.' + tournament.refreshFrecuency}}">{{tournament.refreshFrecuency}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.tournament.notificationFrecuency">Notification Frecuency</span></dt>
        <dd>
            <span jhiTranslate="{{'popApp.Frecuency.' + tournament.notificationFrecuency}}">{{tournament.notificationFrecuency}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.tournament.stCode">St Code</span></dt>
        <dd>
            <span>{{tournament.stCode}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.tournament.lvCode">Lv Code</span></dt>
        <dd>
            <span>{{tournament.lvCode}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.tournament.limitValue">Limit Value</span></dt>
        <dd>
            <span>{{tournament.limitValue}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.tournament.feeCurrencyCode">Fee Currency Code</span></dt>
        <dd>
            <span>{{tournament.feeCurrencyCode}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.tournament.feeCurrencyValue">Fee Currency Value</span></dt>
        <dd>
            <span>{{tournament.feeCurrencyValue}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.tournament.startedAt">Started At</span></dt>
        <dd>
            <span>{{tournament.startedAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.tournament.iteration">Iteration</span></dt>
        <dd>
            <span>{{tournament.iteration}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.tournament.duration">Duration</span></dt>
        <dd>
            <span>{{tournament.duration}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.tournament.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'popApp.TournamentStatus.' + tournament.status}}">{{tournament.status}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.tournament.game">Game</span></dt>
        <dd>
            <div *ngIf="tournament.gameId">
                <a [routerLink]="['/game', tournament.gameId]">{{tournament.gameTitleId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="popApp.tournament.reqXpLevel">Req Xp Level</span></dt>
        <dd>
            <div *ngIf="tournament.reqXpLevelId">
                <a [routerLink]="['/xp-level-definition', tournament.reqXpLevelId]">{{tournament.reqXpLevelLvCode}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="popApp.tournament.goalEvent">Goal Event</span></dt>
        <dd>
            <div *ngIf="tournament.goalEventId">
                <a [routerLink]="['/event-definition', tournament.goalEventId]">{{tournament.goalEventEvCode}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="popApp.tournament.goalStatistic">Goal Statistic</span></dt>
        <dd>
            <div *ngIf="tournament.goalStatisticId">
                <a [routerLink]="['/statistic-definition', tournament.goalStatisticId]">{{tournament.goalStatisticStCode}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="popApp.tournament.feeCurrency">Fee Currency</span></dt>
        <dd>
            <div *ngIf="tournament.feeCurrencyId">
                <a [routerLink]="['/virtual-currency', tournament.feeCurrencyId]">{{tournament.feeCurrencyCurrencyCode}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tournament/'+ tournament.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
