<div>
    <div class="row">
        <div class="col-md-4">
            <span class="heart img-fluid img-rounded"></span>
        </div>
        <div class="col-md-8">
            <div class="col-md-11 p-0"><jhi-alert></jhi-alert></div>
            <h1 *ngIf="!isAuthenticated()">Bienvenido, Administrador de GamePop!</h1>
            <h1 *ngIf="isAuthenticated() && account">Bienvenido, Moderador!</h1>
            <p class="lead">Este es el panel de administracion y moderacion de la plataforma.</p>
            <div [ngSwitch]="isAuthenticated()">
                <div *ngSwitchCase="true">
                    <div class="row">
                        <div class="col-md-8 col-xs-6">
                            <h4 class="mt-1 hidden-sm-down">
                                Los juegos de la semana {{pointsThisWeek.week | date: 'longDate'}}:
                            </h4>
                            <h4 jhiTranslate="home.points.thisWeekMobile" class="mt-1 hidden-sm-up"
                                translateValues="{date: '{{pointsThisWeek.week | date: 'longDate'}}'}">
                                Points for {{pointsThisWeek.week | date: 'longDate'}}:
                            </h4>
                        </div>
                        <div class="col-md-3 text-right">
                            <a [routerLink]="['/', { outlets: { popup: ['points-new'] } }]" class="btn btn-primary m-0 mb-1 text-white">Add Points</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <ngb-progressbar max="21" [value]="pointsThisWeek.points" [striped]="true"
                                             [type]="pointsThisWeek.progress" [hidden]="!pointsThisWeek.points">
                                <span *ngIf="pointsThisWeek.points">
                                    {{pointsThisWeek.points}} / Goal: {{preferences.weeklyGoal}}
                                </span>
                            </ngb-progressbar>
                            <ngb-alert [dismissible]="false" [hidden]="pointsThisWeek.points">
                                <span jhiTranslate="home.points.getMoving">
                                    No points yet this week, better get moving!</span>
                            </ngb-alert>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-8 col-xs-3 text-nowrap">
                            <h4 class="mt-1 hidden-sm-down" jhiTranslate="home.bloodPressure.title">Blood Pressure:</h4>
                            <h4 class="mt-1 hidden-sm-up" jhiTranslate="home.bloodPressure.titleMobile">BP:</h4>
                        </div>
                        <div class="col-md-3 text-right">
                            <a [routerLink]="['/', { outlets: { popup: ['blood-pressure-new'] } }]" class="btn btn-secondary btn-sm">
                                <span jhiTranslate="twentyOnePointsApp.bloodPressure.home.createLabel">Add Blood Pressure</span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <span *ngIf="bpReadings.readings && bpReadings.readings.length">
                                <nvd3 [options]="bpOptions" [data]="bpData" class="with-3d-shadow with-transitions"></nvd3>
                            </span>
                            <ngb-alert [dismissible]="false" [hidden]="bpReadings.readings && bpReadings.readings.length">
                                <span jhiTranslate="home.bloodPressure.noReadings">
                                    No blood pressure readings found.
                                </span>
                            </ngb-alert>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-8 col-xs-6">
                            <h4 jhiTranslate="home.weight.title">Weight:</h4>
                        </div>
                        <div class="col-md-3 text-right">
                            <a [routerLink]="['/', { outlets: { popup: ['weight-new'] } }]" class="btn btn-secondary btn-sm">
                                <span jhiTranslate="twentyOnePointsApp.weight.home.createLabel">Add Weight</span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <span *ngIf="weights.weighIns && weights.weighIns.length">
                                <nvd3 [options]="weightOptions" [data]="weightData" class="with-3d-shadow with-transitions"></nvd3>
                            </span>
                            <ngb-alert [dismissible]="false" [hidden]="weights.weighIns && weights.weighIns.length">
                                <span jhiTranslate="home.weight.noWeighIns">
                                    No weigh-ins found.
                                </span>
                            </ngb-alert>
                        </div>
                    </div>

                    <div class="row" *ngIf="preferences?.id">
                        <p class="mt-2 col-md-11">
                            <a [routerLink]="['/', { outlets: { popup: 'preferences/'+ preferences.id + '/edit'} }]"
                               class="pull-right" jhiTranslate="home.link.preferences">Edit Preferences</a>
                            <a routerLink="history" jhiTranslate="home.link.history">View History</a>
                        </p>
                    </div>

                    <p *ngIf="account" class="logged-in-message" jhiTranslate="home.logged.message"
                       translateValues="{username: '{{account.login}}'}">
                        You are logged in as user "{{account.login}}".
                    </p>
                </div>

                <div *ngSwitchCase="false">
                    <p class="font-weight-bold">
                        <span jhiTranslate="global.messages.info.authenticated.prefix">To get started, please </span>
                        <a href="" (click)="login(); false">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                            <span jhiTranslate="global.messages.info.authenticated.link">Sign In</span></a>
                    </p>

                    <p>
                        <a routerLink="about" class="btn btn-info hidden-sm-down text-white">
                            <span jhiTranslate="global.messages.info.learnMore">Learn more</span>
                            <span jhiTranslate="global.messages.info.about21Points">about 21-Points Health</span></a>
                        <a routerLink="about" class="btn btn-info hidden-sm-up text-white">
                            <span jhiTranslate="global.messages.info.learnMore">Learn more</span></a>
                    </p>

                    <p jhiTranslate="home.question">
                        If you have any question on JHipster:
                    </p>

                    <ul id="resources">
                        <li><a href="http://www.jhipster-book.com" target="_blank"
                               data-translate="home.link.homepage">JHipster Mini-Book Blog</a></li>
                        <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener"
                               data-translate="home.link.stackoverflow">JHipster on Stack Overflow</a></li>
                        <li><a href="https://twitter.com/jhipster_book" target="_blank" rel="noopener"
                               data-translate="home.link.contact">Contact @java_hipster on Twitter</a></li>
                        <li><a href="https://github.com/mraible/21-points/issues" target="_blank" rel="noopener"
                               data-translate="home.link.issues">Report an issue</a></li>
                    </ul>

                    <p *ngSwitchCase="false">
                        <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                        <a routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
