<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCatalogItemLabel" jhiTranslate="popApp.catalogItem.home.createOrEditLabel">Create or edit a Catalog Item</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.catalogItem.game" for="field_game">Game</label>
            <select class="form-control" id="field_game" name="game" [(ngModel)]="catalogItem.gameId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="gameOption.id" *ngFor="let gameOption of games; trackBy: trackGameById">{{gameOption.titleId}}</option>
            </select>
        </div>

        <div class="form-group" [hidden]="!catalogItem.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="catalogItem.id" readonly />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.catalogItem.itemImageUrl" for="field_itemImageUrl">Item Image Url</label>
            <input type="text" class="form-control" name="itemImageUrl" id="field_itemImageUrl"
                [(ngModel)]="catalogItem.itemImageUrl"  />
            <img style="max-width:80px !important;max-height:50px !important;" src="{{catalogItem.itemImageUrl}}"></img>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.catalogItem.itemCode" for="field_itemCode">Item Code</label>
            <input type="text" class="form-control" name="itemCode" id="field_itemCode"
                [(ngModel)]="catalogItem.itemCode" required maxlength="100" />
            <div [hidden]="!(editForm.controls.itemCode?.dirty && editForm.controls.itemCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.itemCode?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.itemCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.catalogItem.displayName" for="field_displayName">Display Name</label>
            <input type="text" class="form-control" name="displayName" id="field_displayName"
                [(ngModel)]="catalogItem.displayName" required maxlength="100" pattern="^[_'.@A-Za-z0-9-]*$" />
            <div [hidden]="!(editForm.controls.displayName?.dirty && editForm.controls.displayName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.displayName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.displayName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.displayName?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'Display Name' }">
                    This field should follow pattern for "Display Name".
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.catalogItem.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="catalogItem.description" maxlength="200" />
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 200 }">
                   This field cannot be longer than 200 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.catalogItem.itemStatus" for="field_itemStatus">Item Status</label>
            <select class="form-control" name="itemStatus" [(ngModel)]="catalogItem.itemStatus" id="field_itemStatus" >
                <option value="ACTIVE">{{'popApp.CatogItemStatus.ACTIVE' | translate}}</option>
                <option value="INACTIVE">{{'popApp.CatogItemStatus.INACTIVE' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.catalogItem.itemClass" for="field_itemClass">Item Class</label>
            <select class="form-control" name="itemClass" [(ngModel)]="catalogItem.itemClass" id="field_itemClass" >
                <option value="KEY">{{'popApp.CatalogItemClass.KEY' | translate}}</option>
                <option value="USABLE_IN_COMBAT">{{'popApp.CatalogItemClass.USABLE_IN_COMBAT' | translate}}</option>
                <option value="CLASS_TOKEN">{{'popApp.CatalogItemClass.CLASS_TOKEN' | translate}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.catalogItem.priceAmount" for="field_priceAmount">Price Amount</label>
            <input type="number" class="form-control" name="priceAmount" id="field_priceAmount"
                [(ngModel)]="catalogItem.priceAmount"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_consumable">Tipo de Consumo</label>
            <select class="form-control" name="consumable" [(ngModel)]="catalogItem.consumable" id="field_consumable" >
                <option value="DURABLE">{{'popApp.ConsumableType.DURABLE' | translate}}</option>
                <option value="CONSUMABLE_BY_COUNT">{{'popApp.ConsumableType.CONSUMABLE_BY_COUNT' | translate}}</option>
                <option value="CONSUMABLE_BY_TIME">{{'popApp.ConsumableType.CONSUMABLE_BY_TIME' | translate}}</option>
            </select>
        </div>
        <div *ngIf="catalogItem.consumable=='CONSUMABLE_BY_COUNT'" class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.catalogItem.consumableCount" for="field_consumableCount">Consumable Count</label>
            <input type="number" class="form-control" name="consumableCount" id="field_consumableCount"
                [(ngModel)]="catalogItem.consumableCount"  />
        </div>
        <div *ngIf="catalogItem.consumable=='CONSUMABLE_BY_TIME'" class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.catalogItem.consumableTime" for="field_consumableTime">Consumable Time</label>
            <input type="number" class="form-control" name="consumableTime" id="field_consumableTime"
                [(ngModel)]="catalogItem.consumableTime"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.catalogItem.Stackable" for="field_Stackable">Stackable</label>
            <input type="checkbox" class="form-control" name="Stackable" id="field_Stackable"
                [(ngModel)]="catalogItem.Stackable"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.catalogItem.Tradable" for="field_Tradable">Tradable</label>
            <input type="checkbox" class="form-control" name="Tradable" id="field_Tradable"
                [(ngModel)]="catalogItem.Tradable"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.catalogItem.Limited" for="field_Limited">Limited</label>
            <input type="checkbox" class="form-control" name="Limited" id="field_Limited"
                [(ngModel)]="catalogItem.Limited"  />
        </div>
        <div *ngIf="catalogItem.Limited==true" class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.catalogItem.LimitedCount" for="field_LimitedCount">Limited Count</label>
            <input type="number" class="form-control" name="LimitedCount" id="field_LimitedCount"
                [(ngModel)]="catalogItem.LimitedCount"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.catalogItem.options" for="field_options">Options</label>
            <input type="text" class="form-control" name="options" id="field_options"
                [(ngModel)]="catalogItem.options"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.catalogItem.metafields" for="field_metafields">Metafields</label>
            <input type="text" class="form-control" name="metafields" id="field_metafields"
                [(ngModel)]="catalogItem.metafields"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.catalogItem.variants" for="field_variants">Variants</label>
            <input type="text" class="form-control" name="variants" id="field_variants"
                [(ngModel)]="catalogItem.variants"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.catalogItem.customData" for="field_customData">Custom Data</label>
            <input type="text" class="form-control" name="customData" id="field_customData"
                [(ngModel)]="catalogItem.customData"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.catalogItem.tags" for="field_tags">Tags</label>
            <input type="text" class="form-control" name="tags" id="field_tags"
                [(ngModel)]="catalogItem.tags"  />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
