<div>
    <h2>
        <span > |^v^| Datos del Jugador</span>
        <button class="btn btn-primary float-right jh-create-entity create-player-data" [routerLink]="['/', { outlets: { popup: ['player-data-new'] } }]">
            <span class="fa fa-plus"></span>
            <span>
            Cargar Dato
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="playerData">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span></span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="playerPopId"><span>Jugador</span></th>
            <th jhiSortBy="data_definitionDataKey"><span>Propiedad</span></th>
            <th jhiSortBy="dataValue"><span>Valor</span></th>
            <th jhiSortBy="dataVersion"><span>Version</span></th>
            <th jhiSortBy="createdAt"><span>Created_At</span></th>
            <th jhiSortBy="lastModifiedAt"><span>Modified_At</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let playerData of playerData ;trackBy: trackId">
                <td><a [routerLink]="['../player-data', playerData.id ]">{{playerData.id}}</a></td>
                <td>
                    <div *ngIf="playerData.playerId">
                        <a [routerLink]="['../player', playerData.playerId  ]" >{{playerData.playerPopId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="playerData.data_definitionId">
                        <a [routerLink]="['../data-definition', playerData.data_definitionId  ]" >{{playerData.data_definitionDataKey}}</a>
                    </div>
                </td>
                <td>{{playerData.dataValue}}</td>
                <td>{{playerData.dataVersion}}</td>
                <td>{{playerData.lastModifiedAt | date:'medium'}}</td>
                <td>{{playerData.createdAt | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'player-data/'+ playerData.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'player-data/'+ playerData.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
